<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>addSensor</servlet-name>
		<servlet-class>scaleService.AddSensor</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>viewSensor</servlet-name>
        <servlet-class>scaleService.ViewSensor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDataType</servlet-name>
        <servlet-class>scaleService.AddDataType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDataType</servlet-name>
        <servlet-class>scaleService.ViewDataType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSensorData</servlet-name>
        <servlet-class>scaleService.AddSensorData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSensorData</servlet-name>
        <servlet-class>scaleService.ViewSensorData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDevice</servlet-name>
        <servlet-class>scaleService.AddDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDevice</servlet-name>
        <servlet-class>scaleService.ViewDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addControl</servlet-name>
        <servlet-class>scaleService.AddControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewControl</servlet-name>
        <servlet-class>scaleService.ViewControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOperation</servlet-name>
        <servlet-class>scaleService.AddOperation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewOperation</servlet-name>
        <servlet-class>scaleService.ViewOperation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewToDo</servlet-name>
        <servlet-class>scaleService.ViewToDo</servlet-class>
    </servlet>
    
    
    
    <servlet-mapping>
		<servlet-name>addSensor</servlet-name>
		<url-pattern>/add_sensor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>viewSensor</servlet-name>
        <url-pattern>/view_sensor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDataType</servlet-name>
        <url-pattern>/add_dataType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDataType</servlet-name>
        <url-pattern>/view_dataType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSensorData</servlet-name>
        <url-pattern>/add_sensorData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSensorData</servlet-name>
        <url-pattern>/view_sensorData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDevice</servlet-name>
        <url-pattern>/add_device</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDevice</servlet-name>
        <url-pattern>/view_device</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addControl</servlet-name>
        <url-pattern>/add_control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewControl</servlet-name>
        <url-pattern>/view_control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOperation</servlet-name>
        <url-pattern>/add_operation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewOperation</servlet-name>
        <url-pattern>/view_operation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewToDo</servlet-name>
        <url-pattern>/view_toDo</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
